<!DOCTYPE html>
<html>
<title>ABC Education</title>
<head>
    <link rel="stylesheet" href="../static/css/aboutstyle.css">
</head>
<body background="../static/img/background.jpg">
    <header>
        <img src="../static/img/logo.png" width="7%" height="5%">
        <div class="head-tag">
            <a href="home1">Home</a>
            <a href="signup">Sign Up</a>
            <a href="#">About us</a>
            <a href="loginpage">Login</a>
        </div>
    </header>
<div>

</div>
    <h1>ABC Education</h1>

    <div class="about">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa vitae tortor condimentum lacinia quis vel eros donec. Nibh sit amet commodo nulla facilisi nullam vehicula. Nullam ac tortor vitae purus faucibus ornare suspendisse sed. </p><p>Vitae nunc sed velit dignissim sodales ut. Cursus vitae congue mauris rhoncus. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. In aliquam sem fringilla ut morbi tincidunt. Pharetra massa massa ultricies mi quis hendrerit dolor magna eget. Sodales ut etiam sit amet nisl purus in. Phasellus vestibulum lorem sed risus ultricies tristique.Consectetur adipiscing. Vitae elementum curabitur vitae nunc sed velit dignissim sodales.</p>
    </div>
   
</body>
</html>