<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ABC Education</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/homestyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap" rel="stylesheet">
</head>
<body background="../static/img/background.jpg">
    <header>
        <img src="../static/img/logo.png" width="7%" height="5%">
        <div class="head-tag">
            <a href="#">Home</a>
            <a href="signup">Sign Up</a>
            <a href="aboutus">About us</a>
            <a href="loginpage">Login</a>
        </div>
    </header>
    <div class="quotes">
        <h2>One Team One Mission</h2>
        <h1>Knowledge</h1>
    </div>
   
    <div class="para">
        <h2>Welcome to ABC Education!!</h2>
        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    
   
</body>
</html>