<!DOCTYPE html>
<html>
<title>ABC Education</title>
<head>
    <link rel="stylesheet" href="../static/css/aboutstyle.css">
</head>
<body background="../static/img/background.jpg">
    <header>
        <img src="../static/img/logo.png" width="7%" height="5%">
        <div class="head-tag">
            <a href="home1">Home</a>
            <a href="courses">Courses</a>
            <a href="home1">Logout</a>
        </div>
    </header>
<div class="loginmsg">
    {{msg}}
</div>
</body>
</html>